# ─── Auth Service ───────────────────────────────
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_secret
AUTH_DB_ROOT_PASSWORD=root_secret

# JWT — gunakan string acak minimal 32 karakter
JWT_ACCESS_SECRET=changeme_access_secret_ganti_dengan_string_acak_panjang
JWT_REFRESH_SECRET=changeme_refresh_secret_ganti_dengan_string_acak_panjang
JWT_ISSUER=yayasan-satwa-lestari
JWT_AUDIENCE=ys-lestari-clients

# Google OAuth 2.0 — isi dari Google Cloud Console
GOOGLE_CLIENT_ID=34235486469-5om654qbcafpf2vdmf5cnl8qlvl7leq9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=****Ge6V
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/oauth/google/callback

# ─── Employee Service (Laravel) ─────────────────
EMPLOYEE_APP_KEY=base64:changeme==
EMPLOYEE_DB_NAME=employee_db
EMPLOYEE_DB_USER=employee_user
EMPLOYEE_DB_PASSWORD=employee_secret
EMPLOYEE_DB_ROOT_PASSWORD=root_secret

# ─── Attendance Service ──────────────────────────
ATTENDANCE_DB_NAME=attendance_db
ATTENDANCE_DB_USER=attendance_user
ATTENDANCE_DB_PASSWORD=attendance_secret
ATTENDANCE_DB_ROOT_PASSWORD=root_secret
